/* Palette de couleur : https://coolors.co/2d2d2a-4c4c47-848fa5-c14953-e5dcc5 */

/* Jet #2D2D2A
Davy's Gray #4C4C47
Cool Gray #848FA5
Bittersweet shimmer #C14953
Pearl #E5DCC5 */

header{
    background-color: #2D2D2A ;
    color: #E5DCC5 ;
    font-family: "Montserrat", sans-serif;
}

body{
     font-family: "Montserrat", sans-serif; 
    margin: 0;
}

.actuel{
    font-size: larger;
    color: #C14953;
}

nav{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

nav a {
    color: #E5DCC5;
    text-decoration: none;
}

nav a:hover{
    color: #C14953;
    font-size: larger;
}

.Centrage{
    display: flex;
    flex-direction: column;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-size: 3em;
    padding: 10px;
}

h2{
    text-align: center;
    color: #E5DCC5;
    background-color: #4C4C47;
    margin: 0;
}

img{
    display: block;
    width: 25%;
    margin: auto;
}

.couleur1{
    background-color: #4C4C47 ;
    color: #E5DCC5;
    
}

.couleur2{
    background-color: #848FA5 ;
    color: #4C4C47 ;
}

.couleur3{
    background-color: #4C4C47 ;
    color: #E5DCC5;
}

section{
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    color: #E5DCC5;
}

p{
    margin: 0;
    padding: 20px;
}

footer{
    color: #E5DCC5;
    text-align: center;
    background-color: #2D2D2A;
}

.contenair{
    display: flex;
    background-color:#565554;
}

.item1 , .item2 , .item3 , .item4{
    width: 25%;
}

.item1{
    text-align: center;
    background-color: #565554;
}

.item2{
    text-align: center;
    background-color:#848FA5;
}

.item3{
    text-align: center;
    background-color:#565554;
}

.item4{
    text-align: center;
    background-color:#848FA5;
}

.concert1{
    display: flex;
    background-color: #848FA5;
    margin: 0;
}

h3{
    margin: 0;
}

